body {
	background-color: #222;
	background-image: url(asfalt.png);
	overflow: hidden;
	font-family: Trebuchet MS, Helvetica, Arial;
	color: #aaa;
	text-shadow: 0 2px 3px #000;
}

a {
	color: #f80;
	cursor: pointer;
	text-decoration: none;
}

.wrap1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 50%;
	height: 50%;
}

.wrap2 {
	position: absolute;
	width: 700px;
	height: 200px;
	right: -350px;
	bottom: -70px;
	text-align: center;
}

#audios {
	position: absolute;
	right: -500px;
	top: 0px;
}

h1 {
	font-size: 50pt;
	line-height: 70pt;
	margin: 0;
	font-family: Helvetica;
	font-weight: bold;
	letter-spacing: -5px;
	color: #fff;
}

p {
	margin: 0 0 10px 0;
}

input#q {
	font-size: 20pt;
	border: 0;
	outline: 0;
	border-radius: 5px;
	padding: 10px;
	border: 1px solid #fff;
	background-color: #000;
	color: #fff;
}

p#status {
	position: absolute;
	top: -50px;
	width: 700px;
	text-align: center;
}

a#spoon {
	position: absolute;
	right: 0px;
	top: 0px;
}

